/*
  LAYOUT -------------------------------
*/
:root {
  --eggshell: #f4f1de;
  --terraCotta: #e07a5f;
  --independence: #3d405b;
  --greenSheen: #81b29a;
  --gold: #f2cc8f;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

/*
  HEADER -------------------------------
*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--independence);
  text-decoration: none;
  font-size: 24px;
}

header ul {
  display: flex;
  flex-direction: row;
}

header li {
  display: inline-block;
  margin: 20px 0 20px 40px;
  font-size: 16px;
  font-weight: 500;
}

header li a {
  text-decoration: none;
  color: black;
}

header li a:hover {
  color: green;
}

/*
  FOOTER -------------------------------
*/

/*
  MAIN -------------------------------
*/

/* Form */

/*
  BULLETS -------------------------------
*/

.bullet-task {
  list-style-type: disc;
}

.bullet-event {
  list-style-type: circle;
}

.bullet-note {
  list-style-type: '-';
}
