/*
  LAYOUT -------------------------------
*/
:root {
  --eggshell: #f4f1de;
  --terraCotta: #e07a5f;
  --independence: #3d405b;
  --greenSheen: #81b29a;
  --gold: #f2cc8f;
}

html {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

/*
  HEADER -------------------------------
*/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--independence);
  text-decoration: none;
  font-size: 24px;
}

header ul {
  display: flex;
  flex-direction: row;
}

header li {
  display: inline-block;
  margin: 20px 0 20px 40px;
  font-size: 16px;
  font-weight: 500;
}

header li a {
  text-decoration: none;
  color: var(--independence);
  padding: 10px;
  display: inline-block;
}

header li a:not(.signup):hover,
.active {
  border-bottom: solid 3px var(--independence);
}

.signup {
  background-color: var(--independence);
  border: 3px solid var(--independence);
  border-radius: 5px;
  color: white;
  padding: 10px 25px;
  transition: all 200ms ease;
}

.signup:hover {
  transform: scale(1.1);
}

/*
  FOOTER -------------------------------
*/

/*
  MAIN -------------------------------
*/

main {
  height: 100vh;
  overflow-y: hidden;
}

main h1 {
  text-align: center;
}

/* Form - come back to this */

.bulletForm {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.bulletForm input,
.bulletForm select,
.bulletForm button {
  padding: 5px;
  background: none;
  border: none;
  margin: 10px;
}

.bulletForm input,
.bulletForm select {
  background-color: white;
  border: solid 2px rgba(61, 64, 91, 0.7);
}

.bulletForm input:focus,
.bulletForm select:focus {
  border: solid 2px rgba(61, 64, 91, 1);
}

.bulletForm button[type='submit'] {
  background-color: var(--independence);
  padding: 5px 15px;
  color: white;
}

.bulletForm button[type='submit']:disabled {
  opacity: 0.7;
}

/*
  BULLETS -------------------------------
*/

.bullet-list-date {
  overflow-y: scroll;
  list-style: none;
  padding-left: 0;
  max-height: 100%;
}

.bullet-list {
  padding-left: 0;
}

.bullet-date h3 {
  margin: 0 16px;
  padding: 0 10px;
}

.bullet {
  background-color: var(--eggshell);
  margin: 16px;
  padding: 10px;
  list-style: none;
}

.bullet > div {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.bullet > div > div:first-child {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.bullet button {
  background: none;
  border: none;
  padding: 0 8px;
  margin: 0 8px;
}

.bullet button:hover {
  cursor: pointer;
}

.symbol {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 0 8px;
}

.symbol-priority {
  visibility: hidden;
}
